# Miscellaneous / OS
*.class
*.log
*.pyc
*.swp
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Environment / Local Secrets
.env
.env.*
!.env.example

# IDE & Editor Settings
*.iml
*.ipr
*.iws
.idea/
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/extensions.json
*.sublime-project
*.sublime-workspace

# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/
**/doc/api/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android Specific
/android/.gradle/
/android/app/debug/
/android/app/profile/
/android/app/release/
/android/local.properties
/android/captures/
/android/.idea/
*.apk
*.aab
*.keystore
*.jks

# iOS Specific
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Pods/
**/ios/.symlinks/
*.xcworkspace
*.xcuserdata

# Windows Specific
/windows/flutter/ephemeral/
CMakeCache.txt
CMakeFiles/
*.vcxproj
*.vcxproj.filters
*.sln

# Web Specific
/web/icons/
